body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    scroll-behavior: smooth;
    overflow: hidden;
  }
  
  .navigation {
    position: fixed;
    bottom: 2px;
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
  }
  
  .navigation img {
    width: 70px;
  }
  
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  button:hover {
    scale: 0.8;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  main {
    display: flex;
    gap: 1rem;
    margin: auto;
    justify-content: space-between;
  }

  .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5px;
    border: 5px solid black;
    border-radius: 5px;
  }


  /* SLIDE STYLING */

  #shadow1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Shadow_S1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #shadow2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Shadow_S2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #shadow3 {
    display: flex;
    justify-content: center;
    background-image: url(Shadow_S3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;   
  }

  #shadow4 {
    display: flex;
    justify-content: center;
    background-image: url(Shadow_S4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;   
  }

  #shadow5 {
    display: flex;
    justify-content: center;
    background-image: url(Shadow_S5.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;   
  }

  #inevitable1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Inevitable_S1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #inevitable2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Inevitable_S2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  #inevitable3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Inevitable_S3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #inevitable4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Inevitable_S4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #inevitable5 {
    display: flex;
    justify-content: center;
    background-image: url(Inevitable_S5.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #possible1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Possible_S1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #possible2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Possible_S2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
    
  #possible3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Possible_S3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #possible4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Possible_S4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #possible5 {
    display: flex;
    justify-content: center;
    background-image: url(Possible_S5.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #catndog1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Catndog_S1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #catndog2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Catndog_S2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
    
  #catndog3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Catndog_S3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #catndog4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Possible_S4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #catndog5 {
    display: flex;
    justify-content: center;
    background-image: url(Catndog_S5.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #temphap1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url();
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #temphap2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url();
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
    
  #temphap3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url();
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #temphap4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url();
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #temphap5 {
    display: flex;
    justify-content: center;
    background-image: url();
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #migraine1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url();
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #migraine2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url();
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
    
  #migraine3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url();
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #migraine4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url();
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #migraine5 {
    display: flex;
    justify-content: center;
    background-image: url();
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .slides {
    font-size: 2rem;
    height: 100vh;
    width: 100vw;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }