h1 {
    font-family: 'Chewy';
    font-size: 3rem;
    color: aliceblue;
}

h2 {
  color: aliceblue;
  font-family: "Dekko";
  font-weight: bold;
  font-size: 2rem;
}

p {
  color: aliceblue;
  font-family: "Dekko";
  font-size: 1.1rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(173, 165, 153);
    margin: auto;
    max-width: 1000px;
}

/* HEADER STYLING */

header {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  gap: .5rem;
  text-shadow: 5px 5px grey;
}

/* GRID STYLING */

.animal-grid {
  margin: 50px;
  width: auto;
  min-height: 600px;
  padding: 10px;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat (3, 1fr);
  align-items: center;
  justify-items: center;
  }

.animal-grid > * {
  width: 100%;
  height: 100%;
}

/* BUTTON STYLING */
  
button {
    cursor: pointer;
    border: 6px solid rgba(105, 98, 87, 0.76);
    border-radius: 2rem;
    background-color: rgb(173, 165, 153);
    overflow: hidden;
    transition: scale 0.5s ease;
  }

  button:hover {
    background: rgb(137, 130, 119);
    scale: 1.2;
  }

  button:active {
    scale: 1.1;
  }

  /* DRAWER STYLING */

  #moodeng-drawer {
    position: fixed;
    margin-top: 60px;
    left: -600px;
    width: 600px;
    min-height: 70vh;
    transition: translate 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 30px;
    text-align: center;
    border: 2px solid rgb(105, 98, 87);
    border-radius: 1rem;
    background: rgb(137, 130, 119);
    text-shadow: 2px 2px rgb(105, 98, 87);
  }

  #mole-drawer {
    position: fixed;
    margin-top: 60px;
    left: -600px;
    width: 600px;
    min-height: 70vh;
    transition: translate 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    /* padding: 30px; */
    padding: 60px 25px 25px 25px;
    text-align: center;
    border: 2px solid rgb(105, 98, 87);
    border-radius: 1rem;
    background: rgb(137, 130, 119);
    text-shadow: 2px 2px rgb(105, 98, 87);
  }

  #huahua-drawer {
    position: fixed;
    margin-top: 60px;
    left: -600px;
    width: 600px;
    min-height: 70vh;
    transition: translate 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 60px 25px 25px 25px;
    text-align: center;
    border: 2px solid rgb(105, 98, 87);
    border-radius: 1rem;
    background: rgb(137, 130, 119);
    text-shadow: 2px 2px rgb(105, 98, 87);
  }

  #pesto-drawer {
  position: fixed;
  margin-top: 60px;
  right: -600px;
  width: 600px;
  min-height: 70vh;
  transition: translate 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 60px 25px 25px 25px;
  text-align: center;
  border: 2px solid rgb(105, 98, 87);
  border-radius: 1rem;
  background: rgb(137, 130, 119);
  text-shadow: 2px 2px rgb(105, 98, 87);
  }

  #biscuits-drawer {
    position: fixed;
    margin-top: 60px;
    right: -600px;
    width: 600px;
    min-height: 70vh;
    transition: translate 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 60px 25px 25px 25px;
    text-align: center;
    border: 2px solid rgb(105, 98, 87);
    border-radius: 1rem;
    background: rgb(137, 130, 119);
    text-shadow: 2px 2px rgb(105, 98, 87);
    }

    #jabulani-drawer {
      position: fixed;
      margin-top: 60px;
      right: -600px;
      width: 600px;
      min-height: 70vh;
      transition: translate 0.5s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 60px 25px 25px 25px;
      border: 2px solid rgb(105, 98, 87);
      text-align: center;
      border-radius: 1rem;
      background: rgb(137, 130, 119);
      text-shadow: 2px 2px rgb(105, 98, 87);
      }

    .infolist {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      text-align: center;
      gap: 5px;
      padding: 10px;
    }

    .infobox {
      padding: 10px;
      border: solid rgb(105, 98, 87);
      border-radius: 1rem;
      box-shadow: 5px 5px rgb(105, 98, 87);
      background-color: rgb(173, 165, 153);
      text-shadow: 2px 2px grey;
    }

    .line1, .line3 {
      /* border: solid black; */
      padding: 10px;
      width: auto;
    }

    .line2 {
      border-left: solid rgb(105, 98, 87);
      border-right: solid rgb(105, 98, 87);
      padding: 10px;
      width: auto;
      place-self: center;
    }

/* IMAGE STYLING */

#moodeng {
  scale: 2.2;
}

#mole {
  scale: 1.8;
}  

#huahua {
  scale:1.8;
}

#pesto {
  scale: 2.2;
}

#biscuits {
  scale: 2.2;
}

#jabulani {
  scale: 2;
}

#pawLeft {
  animation: leftPaws 10s linear infinite;
}

#pawRight {
  animation: rightPaws 10s linear infinite;
}

@keyframes leftPaws {
  0% {
    rotate: 0deg;
  }
  20% {
    rotate: 20deg;   
  }
  40% {
    rotate: -20deg;   
  }
  60% {
    rotate: 20deg;   
  }
  80% {
    rotate: -20deg;    
  }
  100% {
    rotate: 0deg;    
  }
}

@keyframes rightPaws {
  0% {
    rotate: 0deg;
  }
  20% {
    rotate: -20deg;   
  }
  40% {
    rotate: 20deg;   
  }
  60% {
    rotate: -20deg;   
  }
  80% {
    rotate: 20deg;    
  }
  100% {
    rotate: 0deg;    
  }
}

/* FONT INPUTS */

.chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .dekko-regular {
    font-family: "Dekko", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

  /* #btn2 { */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
    /* width: 165px; */
    /* height: 165px; */
  /* } */

  /* #pesto { */
    /* width: 100%; */
    /* height: 100%; */
    /* position: absolute; */
    /* top: 0; */
  /* } */