h1 {
    font-family: 'Chewy';
    font-size: 3rem;
    color: aliceblue;
}

h2 {
  color: aliceblue;
  font-family: "Dekko";
  font-weight: bold;
  font-size: 2rem;
}

p {
  color: aliceblue;
  font-family: "Dekko";
  font-size: 1.1rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(173, 165, 153);
    margin: auto;
    max-width: 1000px;
}

/* HEADER STYLING */

header {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  text-align: center;
  width: 100%;
  gap: 1rem;
  text-shadow: 5px 5px grey;
}

/* GRID STYLING */

.animal-grid {
  /* border: 2px dashed rgb(137, 130, 119); */
  margin: 80px;
  width: auto;
  min-height: 600px;
  padding: 0px;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat (3, 1fr);
  align-items: center;
  justify-items: center;
  }

.animal-grid > * {
  width: 100%;
  height: 100%;
}

/* BUTTON STYLING */
  
button {
    cursor: pointer;
    border: solid rgb(105, 98, 87);
    border-radius: 2rem;
    background-color: rgb(173, 165, 153);
    overflow: hidden;
    transition: scale 0.5s ease;
  }

  button:hover {
    background: rgb(137, 130, 119);
    scale: 1.2;
  }

  /* DRAWER STYLING */

  #moodeng-drawer {
    position: fixed;
    margin-top: 60px;
    left: -600px;
    width: 600px;
    min-height: 80vh;
    transition: translate 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(105, 98, 87);
    border-radius: 1rem;
    background: rgb(137, 130, 119);
  }

  #mole-drawer {
    position: fixed;
    margin-top: 60px;
    left: -600px;
    width: 600px;
    min-height: 80vh;
    transition: translate 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(105, 98, 87);
    border-radius: 1rem;
    background: rgb(137, 130, 119);
  }

  #huahua-drawer {
    position: fixed;
    margin-top: 60px;
    left: -600px;
    width: 600px;
    min-height: 80vh;
    transition: translate 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.6rem;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 5px;
    border: 2px solid rgb(105, 98, 87);
    border-radius: 1rem;
    background: rgb(137, 130, 119);
  }

  #pesto-drawer {
  position: fixed;
  margin-top: 60px;
  right: -600px;
  width: 600px;
  min-height: 80vh;
  transition: translate 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  border: 2px solid rgb(105, 98, 87);
  border-radius: 1rem;
  background: rgb(137, 130, 119);
  }

  #biscuits-drawer {
    position: fixed;
    margin-top: 60px;
    right: -600px;
    width: 600px;
    min-height: 80vh;
    transition: translate 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
     padding-right: 20px;
     padding-left: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(105, 98, 87);
    border-radius: 1rem;
    background: rgb(137, 130, 119);
    }

    #jabulani-drawer {
      position: fixed;
      margin-top: 60px;
      right: -600px;
      width: 600px;
      min-height: 80vh;
      transition: translate 0.5s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
       padding-right: 20px;
       padding-left: 10px;
      padding-bottom: 10px;
      border: 2px solid rgb(105, 98, 87);
      border-radius: 1rem;
      background: rgb(137, 130, 119);
      }

/* IMAGE STYLING */

#moodeng {
  scale: 2.2;
}

#mole {
  scale: 1.8;
}  

#huahua {
  scale:1.8;
}

#pesto {
  scale: 2.2;
}

#biscuits {
  scale: 2.2;
}

#jabulani {
  scale: 2.2;
}

#pawLeft {
  animation: leftPaws 10s linear infinite;
}

#pawRight {
  animation: rightPaws 10s linear infinite;
}

@keyframes leftPaws {
  0% {
    rotate: 0deg;
  }
  20% {
    rotate: 20deg;   
  }
  40% {
    rotate: -20deg;   
  }
  60% {
    rotate: 20deg;   
  }
  80% {
    rotate: -20deg;    
  }
  100% {
    rotate: 0deg;    
  }
}

@keyframes rightPaws {
  0% {
    rotate: 0deg;
  }
  20% {
    rotate: -20deg;   
  }
  40% {
    rotate: 20deg;   
  }
  60% {
    rotate: -20deg;   
  }
  80% {
    rotate: 20deg;    
  }
  100% {
    rotate: 0deg;    
  }
}

/* FONT INPUTS */

.chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .dekko-regular {
    font-family: "Dekko", cursive;
    font-weight: 400;
    font-style: normal;
  }
  